@import "tailwindcss";

@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Minecraft-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Minecraft';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Minecraft-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/Minecraft-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Minecraft';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/Minecraft-BoldItalic.woff') format('woff');
}

@theme {
  --font-serif: "Minecraft", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Minecraft", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Minecraft", ui-monospace, SFMono-Regular, monospace;
}

/* Custom fine-tuning for Minecraft pixel fonts */
html {
  image-rendering: pixelated;
}

body {
  font-family: "Minecraft", sans-serif;
  -webkit-font-smoothing: none;
}

/* Enhance styling for buttons and cards under pixel layout */
button, select, input, textarea {
  font-family: "Minecraft", monospace !important;
}

